body {
  font-family: Arial, sans-serif;
}

form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* 新しいスタイル */
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
}

input[type=email],
input[type=password] {
  width: calc(100% - 16px); /* paddingを考慮して幅を計算 */
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box; /* 新しいスタイル */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box; /* 新しいスタイル */
}

button:hover {
  opacity: 0.8;
}
